<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Indranil's Library</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->

    <!-- inject:js -->
    <!-- endinject -->

    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
</head>

<body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Home</a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <% for(var i=0; i<nav.length; i++){%>
                        <li>
                            <a href="<%=nav[i].Link%>">
                                <%=nav[i].Text%>
                            </a>
                        </li>
                        <%}%>
                </ul>
                <ul class="nav navbar-right navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
                        <ul class="dropdown-menu" style="padding:12px;">
                            <form class="form-inline">
                                <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button>
                                <input type="text" class="form-control pull-left" placeholder="Search">
                            </form>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>Indranil's Library
          <p class="lead"></p>
        </h1>
                </div>
                <div class="col-md-5">
                    <div class="well well-lg">
                        <div class="row">
                            <div class="col-sm-12">


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /cont -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-spacer"> </div>
                </div>
            </div>
        </div>
        <!-- /cont -->

    </div>


    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-body">



                        <!--/stories-->
                        <div class="row">
                            <div class="col-xs-6 panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Sign Up</h3>
                                </div>
                                <div class="panel-body">
                                    <form name="signUpForm" action="/auth/signUp" method="post">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-xs-2 col-form-label">Username</label>
                                            <div class="col-xs-10">
                                                <input class="form-control" type="text" name="userName" id="userName">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="example-password-input" class="col-xs-2 col-form-label">Password</label>
                                            <div class="col-xs-10">
                                                <input class="form-control" type="password" name="password" id="password">
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" value="Sign Up" class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="col-xs-6 panel panel-success">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Sign In</h3>
                                </div>
                                <div class="panel-body">
                                    <form name="signInForm" action="/auth/signIn" method="post">
                                        <div class="form-group row">
                                            <label for="example-text-input" class="col-xs-2 col-form-label">Username</label>
                                            <div class="col-xs-10">
                                                <input class="form-control" type="text" name="userName" id="userName">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="example-password-input" class="col-xs-2 col-form-label">Password</label>
                                            <div class="col-xs-10">
                                                <input class="form-control" type="password" name="password" id="password">
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button type="submit" value="Sign In" class="btn btn-success">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <hr>

    <div class="container" id="footer">
        <div class="row">
            <div class="col col-sm-12">

                <h1>Connect With Me</h1>
                <div class="btn-group">
                    <a class="btn btn-twitter btn-lg" href="https://twitter.com/indranilsen010"><i class="icon-twitter icon-large"></i> Twitter</a>
                    <a class="btn btn-github btn-lg" href="https://github.com/indranilsen"><i class="icon-github icon-large"></i> GitHub</a>
                    <a class="btn btn-facebook btn-lg" href="https://www.facebook.com/indranil.sen.90"><i class="icon-facebook icon-large"></i> Facebook</a>
                    <a class="btn btn-youtube btn-lg" href="https://www.youtube.com/user/Sirius011196"><i class="icon-youtube icon-large"></i> YouTube</a>
                    <a class="btn btn-linkedin btn-lg" href="www.linkedin.com/in/indranilsen10"><i class="icon-linkedin icon-large"></i> LinkedIn</a>
                </div>

            </div>
        </div>
    </div>

    <hr>

    <hr>

    <footer>
        <div class="container">
            <div class="row">
                <p class="text-center">Copyright &copy; 2016 &middot; Indranil Sen</p>
                <p class="text-center">Built with <i class="icon-heart-empty"></i><a href="http://www.bootply.com">Bootply</a></p>
            </div>
        </div>
    </footer>
</body>

</html>